<div id="fb-root"></div>

<article class="uk-article">
    <h1 class="uk-article-title"><a href="{{ path("app.post", { name : blog.slug }) }}">{{ blog.title }}{% if blog.draft %} (DRAFT){% endif %}</a></h1>
    <p class="uk-article-meta">
        Posted on {{ blog.date | date('F jS Y') }}.
    </p>

    {{ blog.content | markdown }}

    <p class="uk-article-meta">

    </p>

</article>
