body, html {
    background: #fff url(/images/header.jpg) no-repeat top center;
    background-size: cover;
    height: 100%;
    color: #000;
}

p {
    font-family: sans-serif;
    font-size: 20px;
}

h4, h3, h2, h1 {
    color: #000;
}

a {
    color: #000;
    text-decoration: underline;
}

blockquote {
    color: #000;
    font-size: 14px;
    border-left: 5px solid #000;
}

.about.uk-panel-box {
    background: transparent;
    color: #000;
}

.more.uk-panel-box {
    background: transparent;
}

.more a {
    display: block;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px #000 solid;
}

.about a {
    margin: 0 5px;
}

.main-wrapper {
    padding-top: 20px;
    background: url(/images/main-bg.png) repeat-x;
}

.header {
    background: url(/images/logo-small.png) no-repeat left center;
    display: block;
    height: 200px;
}

.header.big {
    background: url(/images/logo.png) no-repeat center center;
    display: block;
    height: 40%;
}

.uk-article-meta {
    color: #000;
}

:not(pre)>code, :not(pre)>kbd, :not(pre)>samp, em {
    color: #0099ff;
}

.uk-badge {
    background: #fff;
    color: #fff;
    padding: 2px 7px;
    margin: 2px 0;
    border-radius: 4px;
    text-decoration: none;
}
a.uk-badge:hover {
    text-decoration: none;
    background: #fff;
    color: #000;
}

article table {
    border-collapse: collapse;
}

article table td, article table th {
    border: 1px solid #555;
    padding: 5px 10px;
}

article table tr:nth-child(2n) {
    background-color: #444;
}

@media screen and (max-width: 480px) {
    body, html {
        background-size: 300%;
    }

    .header.big {
        background-size: 70%;
    }
}
